.banner{
    
}
.banner{
min-height: 600px;
margin-bottom: 2rem;
    background-image: linear-gradient(circle, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);}
.banner-image:hover{
    cursor: pointer;
    position: relative;
}
.banner-content h1{
    font-weight: bolder;
    font-size: 3rem;
}
.banner-content button{
    padding: 0.5rem;
    width:8rem;
    border-radius:0;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 80);
    font-size: 1.2rem;
}
.list{
    background-color: gray;
    opacity: 0.8;
    color: #ffffff;
}
.list:hover{
    opacity: 1;
}
    .bannerOverview{
    padding-top: 3rem;
    width: 40rem;
    font-weight: 100;
    
    }

.banner-content {
    position: relative;
    padding: 3rem;
    top: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}